@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  outline: none;
}

.none-drag {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}